/* Write your CSS here */
.page_container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 40vh;
  width: 40vw;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
}
@media screen and(min-width:768px) {
  .card_container {
    height: 50vh;
    width: 50vw;
  }
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
}
.selected_list {
  font-family: 'Roboto';
  font-size: 15px;
  margin-right: 5px;
  height: 30px;
  width: 100px;
  border: 1px solid #cbd2d9;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px #cbd2d9;
}
.select_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.para {
  font-family: 'Roboto';
  font-size: 15px;
  color: #323f4b;
}
.result {
  font-size: 20px;
  font-family: 'Roboto';
  color: #1e293b;
}
